body{
  background-color: #f1f2f4;
  max-width: 640px;
  min-width: 320px;
  margin: auto;
}
.loginform{
  background-color: #fff;
  margin-top: 15px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.loginform .group{
  margin-left: 10px;
  border-bottom: 1px solid #e8e8e8;
  padding:0;
  width: 100%;
}
.loginform .group:last-of-type{
  border-bottom: none;
}
.group .cell{padding: 5px 0;}
.group .img-wrap{
  width: 34px;
}
.group .img-wrap img{
  height: 24px;
  width: 24px;
  margin-top: 5px;
}
.group input{
  border: none;
  padding-left: 0;
  background-color: #fff;
  font-size: 1.5rem;
}
.group .validate{
  border-left: 1px solid #e8e8e8;
  font-size: 1.6rem;
  color: #43629f;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #47bcec
 }
.group:active{background-color: #fff;}
.footer{margin: 10px 10px 25px 10px;}
.footer button{
  font-size: 1.6rem;
  color: #fff;
  width: 100%;
  background-color: #47bcec;
}
.register{
  background-color: #fff;
  font-size: 1.5rem;
  color: #000;
  padding: 15px 10px;
  position: relative;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.register img{width: 8px; height: 16px;}
.register .go{
  position: absolute;
  right: 10px;
  top:50%;
  margin-top: -8px;
}
.pass{
  background-color: #fff;
  margin-top: 15px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.pass .group{
  padding-left: 10px;
}
form .desc{
  font-size: 1.3rem;
  color: #666;
  margin-left: 10px;
  margin-top: 3px;
}